
body{
	font-family: Raleway, sans-serif;
	letter-spacing: .1em;
	line-height: 2em;
}
/*header brand*/

#logo{
	float: left;
	margin: 1% 5%;
	width: 28%;
	min-width: 300px;
	height: auto;
	
}
#contactinfo{
	float: left;
	margin-left: 15%;
	font-weight: bold;
	font-size: 1.2em;
	padding: 1%;
	width: 20%;

}

/*navigation bar*/
nav{
	clear: both;
	margin:0;
	position: sticky;
	top:0;
	font-size: 1.5em;
	border: white solid;
	border-width: 2px 0;
}
ul {
  
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    clear: both;
    width: 100%;
}

li{
	float: left;
	width: 25%;
}

li a{
	display: block;
	color: white;
	text-align: center;
	padding: 5% 10%;
	text-decoration: none;
}
a{
	display: block;
	padding: 8px;
	background-color: #4D4C4E;
}
.contact{
	color: black;
	display: block;
	background-color: #FED728;
}

/*change colour of link when hovered over*/
li a.active {
    background-color: #B2B6B4;
    color: white;
}

li a:hover:not(.active) {
    background-color: black;
    color: white;
}


/*large showcase image*/
#largeimage {
    background-image:
    background-size: cover;
    background-repeat: no-repeat;
	width: 100%;
	height: auto;
}
/*opening intro paragraph and unique selling points*/
.intro {
	clear: both;
	text-align: center;
	margin-top: 5%;
	font-size: 1.4em;
}

.intro h1{
	width: 50%;
	text-align: center;
	margin: auto;
}
.intro p{
	margin-left: 10%;
	margin-right: 10%; 
	margin-bottom: 3%;
	width: 80%;

	
}

#USP{
	margin-left: 10%;
	margin-right: 10%;
}
.icon{
	float: left;
	width: 23.33333%;
	margin-left: 5%;
	margin-right: 5%;
	margin-bottom: 6%;
	font-size:1.2em;
	text-align: center;
}

.icon img{
	width: 50%;
}

/*links to further info with image that scrolls*/
.flex-container, .flex-container1{
  display: flex;
  clear: both;
  align-items: stretch;;
}

.flex-container .flex-container-item {
  background-color: #4D4C4E;
  color: white;
  margin: 0;
  text-align: center;
  flex-grow: 1;
  flex: 1;
  min-height:400px;
}

.flex-container1 .flex-container-item, .flex-container-image1, .flex-container-image2 {
  background-color: #4D4C4E;
  color: white;
  margin: 0;
  text-align: center;
  flex-grow: 1;
  flex: 1;
  min-height:400px;
}



.flex-container-image1{	
	background: #4D4C4E;
	background-image: url("Images/Carpentry/hands carpentry 8.jpg");
    background-size: cover;
    background-repeat: no-repeat;
	width: 100%;
	height: auto;
}

.flex-container-image2{	
	background: #4D4C4E;
	background-image: url("Images/Kitchens/pale green 1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
	width: 100%;
	height: auto;
}

.flex-container-item-button{
	display:inline-block; 
	border:1px solid grey; 
	padding:0px 16px; 
	color:white; 
	background-color:black; 
	border-radius:5px; 
	text-decoration:none;
}

.flex-container-item p{
	font-size:1.5em;
}


/* section for testimonials*/
.testimonial{
	clear: both;
	margin-top: 5%;
	margin-bottom: 3%;
}

.testimonial {
	clear: both;
	text-align: center;
		font-size: 1.4em;
}
.intro h1{
	width: 50%;
	text-align: center;
	margin: auto;
}

.testimonial p{
	margin: auto;
	width: 80%;
}



#quotes{
	display: flex;
	flex-wrap: wrap;
	clear: both;
	align-items: stretch;;
}

#quotes h3{
	font-size: 1.5em;
}
.quote{
	border: 2px #4D4C4E solid;
	border-radius: 30px;
	margin: 5%;
	padding: 1%;
	text-align: center;
	line-height: 2.5em;
	flex-grow: 1;
	flex: 1;
	font-size: .8em;
	width: 20%;
	background-color: white;
}

.quote:hover{
	transform: scale(1.5, 1.2);
}



#foot{
	clear:both;
	width:100%;
	background-color: black;

}






@media(max-width: 1000px) {
    .quote{
        min-width: 90%;
    }
	
@media(max-width: 800px) {
    .icon{
        min-width: 100%;
    }	

/*@media only screen and (max-width: 600px) {
  .flex-container {
    display: none;
  }
}*/










