body{
	margin:0;
	padding:0;
	font-family:'raleway';
	font-size: 1.5em;
}
#CompanyLogo{
	float: left;
	margin-left: 50px;
	margin-right: 70px;
	width: 28%;
	height: auto;
	 }

#CompanyContactInfo{
	float: right;
	margin-right: 4px;
	width: 28%;
	height: auto;
	 }


/*NAV BAR BELOW HEADER*/

nav{
	position: sticky;
		top: -120px;
	 }

ul{
	list-style-type: none;
		margin: 0;
		padding: 0;
		overflow: hidden;
		clear: both;
		width: 100%;
	}

li{
		float: left;
		width: 25%;
	}

li a{
		display: block;
		color: white;
		text-align: center;
		padding: 5% 10%;
		text-decoration: none;
	}

li a.active{
		background-color: #B2B6B4;
		color: white;
	}

li a:hover:not(.inactive){
		background-color: black;
		color: white;
	}

a{
	display: block;
	padding: 8px;
	background-color: #4D4C4E;
 }

/* Main headings below header*/

.container{
	min-height:400px;
	width:80%;
	margin:auto;
	overflow:hidden;
	text-align:center;
	color:#FFFFFF;
}
.container h1{
	font-size:60px;
	font-weight:900;
	margin:20px;
	color:#0C0C0C;
	text-align:center;
}
.container h2{
	font-size: 30px;
	font-weight:100;
	color:#0C0C0C;
	text-align:center;
}
/*Content with photos under heading*/

.maincontent h1{
	font-size:60px;
	font-weight:900;
	margin:20px;
	color:#0C0C0C;
	text-align:center;
}
.maincontent h2{
	font-size: 30px;
	font-weight:100;
	color:#0C0C0C;
	text-align:center;
}
.maincontent p{
	display: block;
	font-size:20px;
	font-weight:100;
	color:#0C0C0C;
	margin-left: 50px;
	margin-right: 70px;
}
/*images to support the text section*/
div #image1 #image2 #image3{
	display: inline-block;
	object-position: center;
	width: fit-content;
}

div #image1 {
	width:250px;
	height:250px;
	float:left;
	margin-top: 5%;
	margin-left: 8%;
	margin-right: 5%;
	margin-bottom: 5%;
	padding:2px;
} 
div #image2 {
	width:250px;
	height:250px;
	object-position: center;
	margin-top: 5%;
	margin-left: 5%;
	margin-right: 5%;
	margin-bottom: 5%;
	padding:2px;
} 
div #image3 {
	width:250px;
	height:250px;
	object-position: right;
	margin-top: 5%;
	margin-left: 5%;
	margin-right: 5%;
	margin-bottom: 5%;
	padding:2px;
} 
/* frequently asked questions section */
.questions{
	width:100%;
	height:100%;
	color:#0C0C0C;
	margin-left: 5%;
	margin-right: 10%;
}
.questions h1{
	font-size:30px;
	font-weight: 700;
	margin:20px;
	color:#0C0C0C;
	text-align: center;
}
.question ol{
	list-style: none;
	text-align: left;
	padding: 2px;
}
.question ol li a{
	font-family: 'raleway';
	font-size: 16px;
	text-indent: 4px;
	align-content: left;
	padding: 5em 0 10em 0;
}
.footer{
 	background-color:#595959;
 	color:#FFFFFF;
 	list-style:none;
 	text-align: center;
 	padding:20px 0 20px 0;
 }
 .footer li{
 	display: inline-block;
 	padding-right:50px;
 }
 .footer li a{
 	text-decoration: none;
 	color:#FFFFFF;
 }
 .footer li a:hover{
 	color: #C1C1C1;
 }
.footer #CompanyLogo{
 	float: left;
 	margin-left: 30px;
 	margin-right: 40px;
 	width: 28%;
 	height: auto;
 	 }
header{
	padding-bottom:20px;
}
.container h1{
	margin-top:40px;
}
