/*Wood Bee Designs - Kitchen Page CSS
David Cowell
*/

/*COMPANY INFORMATION IN HEADER*/

#CompanyLogo{
	float: left;
	margin-left: 50px;
	margin-right: 70px;
	width: 28%;
	height: auto;
	 }

#CompanyContactInfo{
	float: right;
	clear: right;
	height: auto;
	 }


/*NAV BAR BELOW HEADER*/

nav{
	position: sticky;
	top: -120px;

	 }

ul{
	list-style-type: none;
		margin: 0;
		padding: 0;
		overflow: hidden;
		clear: both;
		width: 100%;
	}

li{
		float: left;
		width: 25%;
	}

li a{
		display: block;
		color: white;
		text-align: center;
		padding: 5% 10%;
		text-decoration: none;
	}

li a.active{
		background-color: #B2B6B4;
		color: white;
	}

li a:hover:not(.active){
		background-color: black;
		color: white;
	}

a{
	display: block;
	padding: 8px;
	background-color: #4D4C4E;
 }

 /*COMPANY INTRODUCTION*/

 .OpeningHeader{
	 font-size: 16pt;
	 text-align: center;
	 padding-top: 8px;
	 color: #0C0C0C;
	 text-decoration: underline;
 }
 
 p#OpeningParagraph{
	 font-size: 13pt;
	 text-align: center;
	 padding-top: 6px;
	 padding-bottom: 8px;
	 color: #0C0C0C;
 }


/*KITCHEN IMAGES AND DESCRIPTIONS*/

.Kitchen1{
	vertical-align: middle;
	float: left-side;
	width: 23.33333%;
	margin-left: 5%;
	margin-right: 5%;
	padding-bottom: 20px;

}

.Kitchen2{
	vertical-align: middle;
	float: right-side;
	width: 23.33333%;
	margin-left: 5%;
	margin-right: 5%;
	padding-bottom: 20px;
}


.BlueContemporaryApt3{
	vertical-align: middle;
	float: left-side;
	width: 23.33333%;
	margin-left: 5%;
	margin-right: 5%;
	padding-bottom: 20px;
}



.UpdatedKitchen{
	vertical-align: middle;
	float: right-side;
	width: 23.33333%;
	margin-left: 5%;
	margin-right: 5%;
	padding-bottom: 20px;
}

/*Closing Lines and Footer Text*/

.ClosingFooter{
	 font-size: 16pt;
	 text-align: center;
	 padding-top: 30px;
	 color: #0C0C0C;
	 text-decoration: underline;
	}
	
.FinalImage{
	vertical-align: middle;
	width: 23.33333%;
	margin-left: 25%;
	margin-right: 5%;
	padding-bottom: 20px;
	padding-top: 60px;
}
